<% @creatures.each do |creature| %>
  <p>
    <strong>Name:</strong> <%= creature.name %><br>
    <strong>Description:</strong> <%= creature.description %><br>
    <strong>Franchise:</strong> <%= creature.franchise %>
  </p>
<% end %>